*.user
*.opensdf
*.sdf
*.suo
*.ncb
*.docstates
*.db
*.old
*.bak
*.rar
*.zip
/bin
/ipch
/obj
/out
/tmp
/etc/Addins
/etc/Deployment/_postproc.bat
/etc/Deployment/buildenv.txt
/etc/Prerequisites/qt4_static/lib
/etc/Prerequisites/qt4_static/plugins
/etc/Prerequisites/qt4_static/bin
/etc/Prerequisites/qt4_dll
/etc/Prerequisites/keccak/ipch
/etc/Prerequisites/keccak/obj
/etc/Prerequisites/_old_
/res/tools/_old_
